extends ../templates/headline-only

block header
  include ../blocks/header-headline

block heading
  h3 GraphQL - Что это за зверь?

block subHeader
  p Полетаев Кирилл Владимирович
  p Full Stack разработчик
  p mr.dead.toast@gmail.com
