head
  link(rel='stylesheet' href='../node_modules/reveal.js/css/reveal.css')
  link(rel='stylesheet' href='../node_modules/reveal.js/css/theme/white.css')
  link(rel='stylesheet' href='./css/tinkoff-theme-override.css')
html
  body
    .reveal
      .slides
        include slides/first
        include slides/about-me

  script(src='index.ts')
